{
	admin off
	auto_https off
}

:8443 {
	tls ./cert/localhost.crt ./cert/localhost.key

	handle /swisspension.* {
		reverse_proxy https://localhost:8445 {
			transport http {
				tls_insecure_skip_verify
			}
			header_up Host localhost
		}
	}

	# Default frontend reverse proxy
	reverse_proxy http://localhost:5173 {
		header_up Host {host}
	}
}
